<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>
            {% block header_text %}
                HEADER TEXT
            {% endblock header_text %}
        </h1>
        <form method="POST" action="{% block form_action %}{% endblock %}">
             {% block table %}
                TABLE
             {% endblock table %}
        </form>
    </body>
</html>